# --- Backend (Rutas ajustadas) ---
Backendack/HELP.md
Backend/target/
Backend/.mvn/
Backend/bin/
!Backend/**/src/main/**/target/
!Backend/**/src/test/**/target/

# --- Frontend (Previsión para React/Vue/Angular) ---
Frontend/node_modules/
Frontend/dist/
Frontend/build/
Frontend/.env

# --- Base de Datos ---
# No subir archivos binarios de datos, solo scripts .sql
DB/data/
DB/*.log

### STS ###
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/